---
title: "404: NOT FOUND"
layout: layouts/base.njk
tags: info
permalink: 404.html
---
<style scoped>
    @font-face {
        font-family: 'More Perfect DOS VGA';
        src: url('/fonts/MorePerfectDOSVGA.eot'); /* IE9+ Compat Modes */
        src: url('/fonts/MorePerfectDOSVGA.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('/fonts/MorePerfectDOSVGA.woff2') format('woff2'), /* Super modern browsers */
            url('/fonts/MorePerfectDOSVGA.woff') format('woff'), /* Modern browsers */
            url('/fonts/MorePerfectDOSVGA.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('/fonts/MorePerfectDOSVGA.svg#FontName') format('svg'); /* Legacy iOS */
    }

    :root {
        --bsod-blue: #1030b7;
        --bsod-white: #b7b7b7;
        
        --background-color: var(--bsod-blue);
        --foreground-color: var(--bsod-white);

        --wrap-size: 48rem;
    }

    html {
        height: 100vh;
    }

    body {
        font-family: 'More Perfect DOS VGA', monospace;
    }

    .fourzerofour {
        width: 100%;
        height: 100%;
    }

    .fourzerofour .wrapper {
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
    }

    .fourzerofour header,
    .fourzerofour footer {
        text-align: center;
    }

    .fourzerofour header {
        align-self: stretch;
    }

    .fourzerofour header h2 + h1 {
        margin-top: 1.5rem;
    }

    .fourzerofour header h1 {
        padding: .375rem .75rem 0 .75rem;

        color: var(--background-color);
        background: var(--foreground-color);
    }

    .fourzerofour main ul {
        list-style: none;
    }

    .fourzerofour main ul > li:before {
        content: '*';
        margin-right: 1.875rem;
        margin-left: -2.5rem;
    }

    .fourzerofour footer a,
    .fourzerofour footer a:visited {
        border-bottom: 1px dotted var(--foreground-color);

        color: inherit;
    }

    .fourzerofour footer a:hover,
    .fourzerofour footer a:active {
        text-decoration-line: inherit;
    }

    .fourzerofour .blink {
        animation: blink 1s step-end infinite;
    }

    @keyframes blink {
        30% { opacity: 0 }
    }
</style>
<div class="fourzerofour">
    <div class="wrapper">
        <header>
            <h2>(┛ಠ_ಠ)┛彡┻━┻</h2>
            <h1>404: PAGE NOT FOUND</h1>
        </header>
        <main>
            <p>A fatal exception 0E has caused the page not to be found. The current navigation will be terminated.</p>
            <ul>
                <li>Close the browser tab to terminate the current navigation.</li>
                <li>Press CTRL+ALT+DEL again to restart your computer. You will lose any unsaved navigation history in all tabs.</li>
            </ul>
        </main>
        <footer>
            <p>Head back to <a href="/">homepage</a> to continue&nbsp;<span class="blink">_</span></p>
        </footer>
    </div>
</div>