---
layout: layouts/index.njk
title: Hi, I'm Riccardo
---
<section class="hero-container">
    <div class="hero-top">
        <img src="/img/hero.webp" alt="author's ugly face" height="160" width="160">
    </div>
    <div class="hero-bottom">
    {%- for item in social %}
        <a href="{{ item.url }}" aria-label="{{ item.name }}" title="{{ item.name }}">
            {% icon item.icon %}
        </a>
    {%- endfor %}
    </div>
</section>
