---
layout: layouts/page.njk
title: Posts
pagination:
    data: collections.posts
    size: 5
    reverse: true
---
<h1>{% icon 'box' %} Posts</h1>
<ol class="post-list" reversed>
{%- for post in pagination.items %}
    <li class="post-list-item">
        <span>
            {% icon 'calendar', 'm-only' %}
            <time datetime="{{ post.date | isodate }}">
                {{ post.date | humandate }}
            </time>
        </span>
        <span>
            <a href="{{ post.url }}">{{ post.data.title or (post.fileSlug | replace('-', ' ') | capitalize)}}</a>
        </span>
    </li>
{%- endfor %}
</ol>
{%- include "pagination.njk" %}