{%- set num_links_to_display = 4 %}
<ol class="pagination">
    <li>
        <a href="{{ pagination.href.first }}">
            {% icon 'chevrons-left' %}
        </a>
    </li>
    <li>
        <a href="{{ pagination.href.previous }}">
            {% icon 'chevron-left' %}
        </a>
    </li>
{%- for pagNum in range(pagination.pageNumber - 2, pagination.pageNumber) %}
{%- if pagNum >= 0 %}
    <li class="pagination-page">
        <a href="{{ pagination.hrefs[pagNum] }}">{{ pagNum + 1 }}</a>
    </li>
    {%- set num_links_to_display = num_links_to_display - 1 %}
{%- endif %}
{%- endfor %}
    <li class="pagination-page pagination-current" aria-current="page">
        {{ pagination.pageNumber + 1 }}
    </li>
{%- set total_number_of_pages = (pagination.pages | length) %}
{%- for pagNum in range(pagination.pageNumber + 1, total_number_of_pages) %}
{%- if pagNum < total_number_of_pages and num_links_to_display > 0 %}
    <li class="pagination-page">
        <a href="{{ pagination.hrefs[pagNum] }}">{{ pagNum + 1 }}</a>
    </li>
    {%- set num_links_to_display = num_links_to_display - 1 %}
{%- endif %}
{%- endfor %}
    <li>
        <a href="{{ pagination.href.next }}">
            {% icon 'chevron-right' %}
        </a>
    </li>
    <li>
        <a href="{{ pagination.href.last }}">
            {% icon 'chevrons-right' %}
        </a>
    </li>
</ol>