html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Liberation Sans', sans-serif;
  min-height: 740px;

  background: rgb(2, 107, 52);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(2, 107, 52)), to(rgb(8, 8, 8)));
  background: -webkit-radial-gradient(rgb(2, 107, 52), rgb(8, 8, 8));
  background:    -moz-radial-gradient(rgb(2, 107, 52), rgb(8, 8, 8));
  background:     -ms-radial-gradient(rgb(2, 107, 52), rgb(8, 8, 8));
  background:      -o-radial-gradient(rgb(2, 107, 52), rgb(8, 8, 8));
  background:         radial-gradient(rgb(2, 107, 52), rgb(8, 8, 8));
  color: #f2f2f2;
}

b, strong { font-weight: bold }
i, em { font-style: italic }

ul, ol {
  padding-left: 5rem;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0 0.1em;
  background: rgba(255,255,255,0.5);
  text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
  border-radius: 0.2em;

  -webkit-transition: 0.5s;
  -moz-transition:    0.5s;
  -ms-transition:     0.5s;
  -o-transition:      0.5s;
  transition:         0.5s;
}

a:hover,
a:focus {
  background: rgba(255,255,255,1);
  text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;

  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;

  border: 1px solid #e4c652;
  border-radius: 10px;
  background: #eedc94;
}

.fallback-message p {
  margin-bottom: 10px;
}

.impress-supported .fallback-message {
  display: none;
}

.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;

  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;

  font-family: 'Liberation Serif', serif;
  font-size: 2.5rem;
  line-height: 1.5;
}

.impress-enabled .step {
  margin: 0;
  opacity: 0.3;

  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

h1, h2, h3, h4, h5, h6 {
  font-family: "Liberation Sans", sans;
  font-weight: bold;
}

h1 {
  font-size: 4.6rem;
  text-align: center;
}

h2 {
  font-size: 3.7rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.7rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

pre.code {
  font-family: "Inconsolata", monospace;
  background-color: rgba(8, 8, 8, 0.3);
  color: #f2f2f2;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 5px 10px 5px 10px;
  line-height: 1;
}

#title h1, #title h2 {
  text-align: center;
}

#title h1 {
  font-size: 5.5rem;
}

#title h2 {
  font-size: 2.5rem;
}

#title h3 {
  margin-top: 6rem;
  font-size: 1.5rem;
  text-align: right;
}

#sources1, #sources2 {
  font-size: 2rem;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.color1 {
  color: #4245f4;
}

.color2 {
  color: #f44245;
}

.color3 {
  color: #45f442;
}
