/*** root ***/

:root {
    /* images */
    --background-image: url("/img/bg.webp");
}

/*** hero ***/

.hero-page body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .6)), var(--background-image);
    background-clip: border-box;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}