/*** root ***/

:root {
    /* palette */
    --jet: #292929ff;
    --red-crayola: #ef3054ff;
    --dark-cyan: #109391ff;
    --silver: #bfc0c0ff;
    --mint-cream: #f1fffaff;
    --fairy-tale: #e2c2d0ff;

    /* colors */
    --foreground-color: var(--mint-cream);
    --background-color: var(--jet);
    --midground-color: var(--silver);
    --link-color: var(--dark-cyan);
    --hover-color: var(--red-crayola);
    --note-color: var(--fairy-tale);

    /* size */
    --wrap-size: 50rem;
}

/*** general ***/

*:not(ul, ol, dl, dd),
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
:after,
:before {
    box-sizing: border-box;
}

html {
    font-size: 100%;

    scroll-behavior: smooth;

    color: var(--foreground-color);
    background: var(--background-color);
    color-scheme: dark;
}

body {
    font-size: 1.25rem;
    font-family: 'Fira Sans', monospace;

    text-rendering: optimizeSpeed;
}

.wrapper {
    display: flex;
    flex-direction: column;

    max-width: var(--wrap-size);
    min-height: 100vh;
    min-height: 100svh;

    padding: 1.25rem;
    margin: auto;
}

a,
a:visited {
    color: var(--link-color);

    text-decoration-line: none;
}

a:hover,
a:active {
    color: var(--hover-color);

    text-decoration-line: underline;

    transition: all .25s ease-in;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: .625rem;
}

figure > img {
    flex: none;
    max-width: 100%;
    height: auto;

    border-radius: .625rem;
}

figure > figcaption {
    max-width: 75%;

    white-space: break-spaces;
}

code:not([class^='language-'], [class*=' language-']),
kbd:not([class^='language-'], [class*=' language-']),
samp:not([class^='language-'], [class*=' language-']),
var:not([class^='language-'], [class*=' language-']),
pre:not([class^='language-'], [class*=' language-']) {
    margin: 0 .125rem;
    padding: .125rem .125rem;
    border-radius: .25rem;

    font-family: 'Fira Code', monospace;
    font-size: 1rem;
}

code:not([class^='language-'], [class*=' language-']),
kbd:not([class^='language-'], [class*=' language-']) {
    color: var(--background-color);
    background: var(--midground-color);
    filter: brightness(70%);
}

hr {
    height: 1px;
    width: 50%;

    margin: 3rem auto !important;

    background: var(--midground-color);
}

blockquote {
    border-left: 3px solid var(--foreground-color);
    padding: 0 1.25rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;

    background: rgba(255, 255, 255, .1);
}

/*** hero ***/

.hero-page body {
    height: 100vh;
    height: 100svh;
}

.hero-page body {
    background-color: black;
}

.hero-page .wrapper {
    height: 100%;
}

.hero-page .primary-footer {
    margin-top: 1.25rem;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.hero-container .hero-top {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero-container .hero-top > img {
    max-width: 10rem;
    height: auto;
    aspect-ratio: auto 1 / 1;

    margin-bottom: 1.75rem;
    border: 6px solid var(--foreground-color);
    border-radius: 50%;
}

.hero-container .hero-bottom {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: start;
    column-gap: .625rem;

    border-top: 2px solid var(--foreground-color);
    padding: .625rem .625rem 0 .625rem;
}

.hero-container .hero-bottom a .feather,
.hero-container .hero-bottom a .feather:visited {
    stroke: var(--foreground-color);
}

/*** icons ***/

.feather {
    align-self: center;

    width: 1.5rem;
    height: 1.5rem;

    vertical-align: middle;

    stroke: var(--foreground-color);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather + .feather {
    margin-left: .625rem;
}

a .feather,
a .feather:visited {
    stroke: var(--link-color);
}

a .feather:hover,
a .feather:active {
    stroke: var(--hover-color);

    transition: all .25s ease-in;
}

/*** header ***/

.primary-header {
    margin-bottom: 2rem;
}

.screenreader-text {
    height: 1px;
    width: 1px;

    position: absolute;
    left: -999px;
    top: auto;
}

/*** title ***/

.primary-title,
.primary-title:visited {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 1.25rem;

    margin-bottom: 1rem;

    color: inherit;
}

.primary-title:hover,
.primary-title:active {
    text-decoration-line: none;

    color: inherit;
    transition: none;
}

.primary-title .title-logo {
    height: 2.5rem;
    width: auto;
}

.primary-title .title-text {
    font-size: 1.625rem;
    font-weight: bold;
}

/*** nav ***/

.primary-nav {
    overflow-x: scroll;
}

.primary-nav ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 1.25rem;

    margin: 0;
    padding: 0;
}

.primary-nav ul li {
    list-style: none;
    white-space: nowrap;

    padding-right: .25rem;
}

.primary-nav ul li:not(.nav-current) {
    border-bottom: 1px solid transparent;
}

.primary-nav ul li:hover,
.primary-nav ul li:active {
    border-bottom: 1px solid var(--midground-color);
}

.primary-nav ul li:before {
    content: "";

    margin-right: .3125rem;
    border-left: 4px solid var(--hover-color);
}

.primary-nav ul li a {
    color: inherit;
}

.primary-nav ul li a:hover,
.primary-nav ul li a:active {
    text-decoration-line: none;
}

/*** content ***/

#main-content {
    flex: 1;
}

.flow {
    letter-spacing: -.5px;
    line-height: 1.6;
}

.flow > * + * {
    margin-top: .75em;
}

.flow h1,
.flow h2,
.flow h3,
.flow h4,
.flow h5,
.flow h6 {
    border-top: 4px solid var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
    padding: 0 .25rem;
}

.flow h1 + h1,
.flow h1 + h2,
.flow h1 + h3,
.flow h1 + h4,
.flow h1 + h5,
.flow h1 + h6,
.flow h2 + h1,
.flow h2 + h2,
.flow h2 + h3,
.flow h2 + h4,
.flow h2 + h5,
.flow h2 + h6,
.flow h3 + h1,
.flow h3 + h2,
.flow h3 + h3,
.flow h3 + h4,
.flow h3 + h5,
.flow h3 + h6,
.flow h4 + h1,
.flow h4 + h2,
.flow h4 + h3,
.flow h4 + h4,
.flow h4 + h5,
.flow h4 + h6,
.flow h5 + h1,
.flow h5 + h2,
.flow h5 + h3,
.flow h5 + h4,
.flow h5 + h5,
.flow h5 + h6,
.flow h6 + h1,
.flow h6 + h2,
.flow h6 + h3,
.flow h6 + h4,
.flow h6 + h5,
.flow h6 + h6 {
    display: table;
}

.flow h1:not(:first-child) {
    margin-top: 3rem;
}

.flow h2:not(:first-child) {
    margin-top: 2.5rem;

    font-size: 1.675rem;
}

.flow h3:not(:first-child) {
    margin-top: 2.125rem;
}

.flow h4:not(:first-child) {
    margin-top: 1.75rem;
}

.flow h5:not(:first-child) {
    margin-top: 1.25rem;
}

.flow h6:not(:first-child) {
    margin-top: 1rem;
}

.flow table {
    width: 100%;

    margin: 2.5rem auto;

    table-layout: fixed;
    border-collapse: collapse;
}

.flow thead {
    border-top: 4px solid var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
}

.flow tbody {
    border-bottom: 1px solid var(--hover-color);
}

.flow th,
.flow td {
    padding: .625rem 1.25rem;

    border-right: 1px dotted var(--hover-color);

    word-break: break-all;
}

.flow th:last-child,
.flow td:last-child {
    border-right: none;
}

/*** post list ***/

.post-list {
    width: 100%;

    margin-top: 2rem;
    padding: 0;

    list-style: none;
}

.post-list-item {
    display: flex;
    flex-direction: column;

    column-gap: 2.25rem;
}

.post-list-item + .post-list-item {
    margin-top: 1.25rem;
}

.post-list-item > span:first-child {
    flex: 1;

    font-size: 1rem;
}

.post-list-item > span .feather {
    width: 1.25rem;
    height: 1.25rem;
}

.post-list-item > span:last-child {
    flex: 3;
}

/*** pagination ***/

.pagination {
    display: flex;
    justify-content: center;

    margin-top: 2rem;
    padding: 0;

    font-size: 1.375rem;

    list-style: none;
}

.pagination > li.pagination-page {
    padding: 0 .5rem;
}

.pagination > li.pagination-page-first {
    padding-left: 1rem;
}

.pagination > li.pagination-page-last {
    padding-right: 1rem;
}

.pagination > li.pagination-current {
    color: var(--hover-color);
}

/*** article ***/

article .article-subtitle {
    margin-top: .625rem;
}

article .article-date,
article .article-tags {
    font-size: 1rem;
}

article .article-date {
    margin-top: 1rem;
}

article .article-tags {
    display: flex;
    flex-flow: row wrap;
    column-gap: .5rem;
    row-gap: .25rem;
}

article .article-tags > .article-tag {
    padding: 0 .25rem;

    border-radius: .25rem;

    color: var(--background-color);
    background: var(--midground-color);
    filter: brightness(70%);
}

article .article-tags > .article-tag-separator {
    filter: brightness(40%);
}

article .article-content {
    margin-top: 2rem;
}

/*** youtube ***/

.youtube {
    position: relative;

    height: 0;

    padding: 1.875rem 0 56.2% 0;

    overflow: hidden;
}

.youtube > iframe {
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;
}

/*** pdf ***/

.pdf {
    height: 40rem;
}

.pdf > object {
    height: 100%;
    width: 100%;
}

/*** iframe ***/

.iframe {
    position: relative;
    
    height: 0;

    padding: 1.875rem 0 56.2% 0;

    overflow: hidden;
}

.iframe > iframe {
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;
}

/*** journey ***/

.journey {
    margin-left: -1.25rem;

    list-style: none;
}

.journey > .journey-item {
    position: relative;

    padding: 0 0 2rem 2.5rem;
}

.journey > .journey-item:before {
    content: "";

    position: absolute;
    top: 1.875rem;
    bottom: .0625rem;
    left: .25rem;

    width: 4px;

    background: var(--hover-color);

    z-index: -1;
}

.journey > .journey-item:last-child:before {
    display: none;
}

.journey > .journey-item > span {
    float: left;

    margin-left: -2.875rem;
}

.journey > .journey-item .journey-icon {
    vertical-align: sub;
}

/*** note ***/

.note {
    display: flex;
    flex-direction: column;

    padding: .625rem;
    border: 4px dotted #5ab1bb;

    font-style: italic;

    color: var(--background-color);
    background: var(--note-color);
}

.note-title {
    align-self: center;

    font-weight: bold;

    text-transform: uppercase;
}

/*** footer ***/

.primary-footer {
    font-size: 1.125rem;

    margin-top: 10rem;
}

.primary-footer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.primary-footer div > * {
    flex: 1;

    text-align: center;
}

/*** classes ***/

.nav-current {
    color: var(--hover-color);

    border-bottom: 1px solid var(--hover-color);
}

.scrollbar-hidden {
    -ms-overflow-style: none; /* edge */
    scrollbar-width: none; /* firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* webkit */
}

.handwriting {
    font-family: 'Nothing You Could Do', cursive;

    margin-left: .250em;
}

.highlight {
    color: var(--hover-color);
}

.smaller {
    font-size: 1rem;
}

.left,
.right,
.center {
    clear: both;

    margin: 1rem auto;
}

.left:first-child,
.right:first-child,
.center:first-child {
    margin-top: 0;
}

.left:last-child,
.right:last-child,
.center:last-child {
    margin-bottom: 0;
}

.background {
    padding: .625rem;

    background: var(--foreground-color);
}

.d-only {
    display: none;
}

/*** desktop ***/

@media screen and (min-width: 50rem) { /* var(--wrap-size) */
    
    /*** hero ***/

    .hero-page body {
        background-size: auto;
    }

    .hero-container .hero-top > img {
        max-width: 12rem;
    }

    .hero-container .feather {
        width: 2rem;
        height: 2rem;
    }

    /*** icons ***/

    .feather + .feather {
        margin-left: 1rem;
    }

    /*** header ***/

    .primary-header {
        margin-bottom: 3rem;
    }

    /*** title ***/

    .primary-title,
    .primary-title:visited {
        margin-bottom: 2rem;
    }

    .primary-title .title-logo {
        height: 3rem;
    }

    .primary-title .title-text {
        font-size: 2rem;
    }

    /*** content ***/

    .flow h1,
    .flow h2,
    .flow h3,
    .flow h4,
    .flow h5,
    .flow h6 {
        display: inline-block;
    }

    .flow table {
        width: unset;
    }

    /*** post list ***/

    .post-list-item {
        flex-direction: row;
    }

    .post-list-item + .post-list-item {
        margin-top: 0;
    }

    .post-list-item > span:first-child {
        font-size: inherit;
        text-align: right;
    }

    /*** footer ***/

    .primary-footer > div {
        flex-direction: row;
    }

    .primary-footer > div > * {
        flex: none;

        text-align: unset;
    }

    .primary-footer > div> *:not(:last-child):after {
        content: "·";

        margin: 0 1rem;
    }

    /*** classes ***/

    .left {
        float: left;

        margin: 1rem;
        margin-left: 0;
    }

    .right {
        float: right;

        margin: 1rem;
        margin-right: 0;
    }

    .left,
    .right {
        max-width: 40%;
    }

    .m-only {
        display: none;
    }

    .d-only {
        display: initial;
    }

}
