<!doctype html>
<html lang="{{ metadata.language }}"{% if page.fileSlug == '' %} class="hero-page"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%- set csc_content = '' %}
    {%- for st, srcs in content_security %}
        {%- set csc_content = csc_content + ' ' + st + ' ' + srcs | join(' ') + ';' %}
    {%- endfor %}

    <meta http-equiv="Content-Security-Policy" content="{{ csc_content }}">

    <meta name="msapplication-TileColor" content="#292929">
    <meta name="theme-color" content="#292929">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#292929">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        rel="preload"
        as="style"
        href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Nothing+You+Could+Do&display=swap">
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Nothing+You+Could+Do&display=swap"
        media="print"
        onload="this.media='all'">
    <noscript>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Nothing+You+Could+Do&display=swap">
    </noscript>
    <link
        rel="stylesheet"
        href="https://unpkg.com/prismjs/themes/prism-tomorrow.min.css" 
        media="print"
        onload="this.media='all'">
    <link rel="stylesheet" href="/css/style.css">
    <link
        rel="stylesheet"
        href="/css/bg.css"
        media="print"
        onload="this.media='all'">

    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

    <meta name="author" content="{{ pkg.author.name }}">
    <meta name="description" content="{{ metadata.description }}">
    <meta name="keywords" content="{{ metadata.keywords | join(', ') }}">

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="{{ metadata.title }}"/>
    <meta name="twitter:creator" content="{{ pkg.author.name }}"/>

    {%- set is_article = (tags or []).indexOf('posts') > -1 %}

    <meta property="og:title" content="{{ title or metadata.title }}" />
    <meta property="og:description" content="{{ title or metadata.description }}" />
    <meta property="og:type" content="{%- if is_article %}article{%- else %}website{%- endif %}" />
    <meta property="og:url" content="{{ metadata.url }}{%- if is_article %}{{ page.url }}{%- endif %}" />
    {%- if is_article and image %}
    <meta property="og:image" content="{{ metadata.url }}{{ page.url }}{{ image }}" />
    {%- endif %}
    <meta property="og:locale" content="{{ metadata.language }}" />

    <title>{{ title or metadata.title }}</title>
</head>
<body>
    {{ content | safe }}
</body>
</html>
