---
layout: layouts/base.njk
---
<div class="wrapper">
    <header class="primary-header">
        <a id="skip-nav" class="screenreader-text" href="#main-content">
            Skip to Content
        </a>
        <a class="primary-title" href="/">
            <img class="title-logo" src="/img/logo.svg" alt="site logo" height="48" width="48">
            <h1 class="title-text">
                {{ metadata.displayTitle | safe }}
            </h1>
        </a>
        <nav class="primary-nav scrollbar-hidden">
            <ul class="nav-list" role="list">
            {%- for item in menu %}
                {%- if item.url == page.filePathStem %}
                    {%- set current_page_class = ' nav-current' %}
                    {%- set aria_current_page = ' aria-current="page"' %}
                {%- endif %}
                <li class="nav-element{{ current_page_class }}"{{ aria_current_page }}>
                    <a href="{{ item.url }}">{{ item.label }}</a>
                </li>
                {%- set current_page_class = '' %}
                {%- set aria_current_page = '' %}
            {%- endfor %}
            </ul>
        </nav>
    </header>
    <main id="main-content">
        {{ content | safe }}
    </main>
    <footer class="primary-footer">
        <div>
            <p>&copy; {{ metadata.startYear }} - {{ metadata.currentYear }} <span class="handwriting highlight">{{ pkg.author.name }}</span></p>
            <p>Powered by <a href="https://www.11ty.dev/">11ty</a></p>
        </div>
        <div>
            <p><a href="/licenses">Licenses</a></p>
            <p><a href="/cookie-policy">Cookie policy</a></p>
        </div>
    </footer>
</div>