---
layout: layouts/index.njk
---
<section>
    {%- set tags = tags | reject('eq', 'posts') %}
    <article class="flow">
        <header>
            <div class="article-title">
                <h1>{{ title or (page.fileSlug | replace('-', ' ') | capitalize)}}</h1>
            </div>
        {%- if subtitle %}
            <div class="article-subtitle">
                <strong>{{ subtitle }}</strong>
            </div>
        {%- endif %}
            <div class="article-date">
                {% icon 'calendar' %}
                <time datetime="{{ page.date | isodate }}">
                    {{ page.date | humandate }}
                </time>
            </div>
        {%- if tags | length %}
            <div class="article-tags">
                {% icon 'tag' %}
            {%- for tag in tags %}
            {%- if not loop.first %}
                <span class="article-tag-separator">•</span>
            {%- endif %}
                <span class="article-tag">
                    {{ tag }}
                </span>
            {%- endfor %}
            </div>
        {%- endif %}
        </header>
        <div class="article-content flow">
            {{ content | safe }}
        </div>
        <footer>
        </footer>
    </article>
</section>